@using BankApp.Web.Models
@model List<UserListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BankLayout.cshtml";
}


<br />
<h1>İstifadəçilər</h1>
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th>Hesab sayı</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.MId</th>
                <td>@item.MName</td>
                <td>@item.MSurname</td>
                <td>
                    <getaccountcount user-account-id="@item.MId"></getaccountcount>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Create" asp-controller="Account" asp-route-id="@item.MId">Yeni hesab yarat</a>
                </td>
            </tr>
        }
    </tbody>
</table>

